@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-h1 {
    @apply text-5xl leading-8 font-semibold;
  }
  .text-h2 {
    @apply text-2xl font-semibold;
  }
  .text-h3 {
    @apply text-xl leading-6 font-semibold;
  }
}

body {
  font-family: 'Inter', sans-serif;
  color: theme('colors.main');
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.icon-microwave {
  fill: transparent;
  stroke: theme('colors.main');
}

.icon-water {
  fill: transparent;
  stroke: theme('colors.main');
}
